# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDE - VSCode
**/.vs/
.vs/*
.vscode
.idea
node_modules
.DS_Store
dist
dist-ssr
*.local
.vs

/SabotageHelpToolApp/bin/
/SabotageHelpToolApp/obj/
/.vs/